*{
    margin: 0;
    padding: 0;
}
main{
    display: block;
}
header {
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 100vh;
}
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}
h1{
    color: #333333;
}
.title img {
    width: 900px;
    margin: auto;
}
.title p {
    font-size: 45px;
    text-align: center;
    margin-top: 30px;
    color: #fff;
    font-family: "Futura";
    font-style: italic;
    font-weight: lighter;
}
nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
nav a {
    display: block;
    text-decoration: none;
    padding: 30px 15px 0;
    color: #fff;
    transition: 0.5s;
    font-family: "Futura";
    font-weight: normal;
    font-size: 20pt;
}
nav a:hover{
    color:#3D5CDB;
}
ul{
    overflow: hidden;
    margin: 0 50px;
}
ul li{
    list-style: none;
    float: left;
}
header{
    position: relative; 
    height: 100vh;
}
.bg-swicher{
    background: url(./images/background1.jpg);
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size: cover;
}
section {
    display: block;
    overflow: hidden;
}
h2 {
    text-align: center;
    font-family: "Futura";
    font-weight: bold;
    font-size: 40pt;
    padding: 40px;
    color: #3D5CDB;
}
#introduction{
    animation: fadein-top 3s ease-out forwards;
}
@keyframes fadein-top {
    0% {
    opacity: 0;
    transform: translateY(-100px);
    }
    100% {
    opacity: 1;
    transform: translateY(0);
    }
}
.intro_about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.intro_about_left {
    width: 500px;
    margin: 20px;
    line-height: 2;
}
.intro_about img {
    width: 500px;
    object-fit: contain;
}
.intro_about_right {
    width: 500px;
    margin: 20px;
    line-height: 2;
}
.intro_about_right p {
    width: 400px;
    margin: 0 auto 20px;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3',"ＭＳ Ｐゴシック",sans-serif;
}
.intro_about_right a {
    display: block;
    margin: 30px auto;
    text-decoration: none;
    width: 170px;
    height: 40px;
    background-color: #3D5CDB;
    color: #ffffff;
    border-radius: 12px;
    text-align: center;
    line-height: 40px;
    font-size: 15pt;
    font-weight: bold;
}
.intro_about_left a {
    display: block;
    margin: 30px auto;
    text-decoration: none;
    width: 170px;
    height: 40px;
    background-color: #ffbf00;
    color: #ffffff;
    border-radius: 12px;
    text-align: center;
    line-height: 40px;
    font-size: 15pt;
    font-weight: bold;
}
.intro_about_right a:hover{
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.2);
}
.intro_about_left a:hover{
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.2);
}
#courses {
    background-color: rgba(186, 213, 245, 0.6);
    z-index: 1;
    animation: fadein-top 3s ease-out forwards;
}

#particles-js {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
}


.course {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.course-contents {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.course_info {
    width: 180px;
    height: 280px;
    background-color: #ffffff;
    margin: 10px;
    margin-top: 20px;
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgb(106 137 152 / 20%);
}
.course_img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.course_img img {
    max-width: 100%;
    max-height: 100%;
}
.course_info h3 {
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3',"ＭＳ Ｐゴシック", sans-serif;
    font-size: 11pt;
    text-align: center;
    margin: 10px;
    padding-top: 20px;
    color: #183c61;
}
.course_info a {
    display: block;
    margin: 15px auto;
    text-decoration: none;
    width: 170px;
    height: 40px;
    background-color: #ffbf00;
    color: #ffffff;
    border-radius: 12px;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    font-weight: bold;
}
.course_info a:hover{
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.2);
}
#access {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    animation: fadein-top 3s ease-out forwards;
}
#images {
    margin-bottom: 50px;
}
.slider {
    margin: 30px auto;
    width: 80%;
}

.slider img {
    width: 100%;
    height: auto;
}
.slick-prev
{
    left: 50px;
    z-index: 100;
}
.slick-next{
    right: 50px;
    z-index: 100;
}
.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-dots {
    bottom: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-dots li{
    display: inline-block;
}
#access {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    animation: fadein-top 3s ease-out forwards;
}
.map iframe {
    width: 600px;
    height: 400px;
}

footer {
    height: 60px;
    line-height: 60px;
    font-family: "Futura";
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
    color: #3D5CDB;
    clear: both;
}

@media all and (max-width:450px){
    header{
        background-attachment: scroll;
        width: 1024px;
        max-width: 100%;
        margin: 0 auto;
    }
    .title img {
        width: 70vw;
        margin: auto;
    }
    .title p {
        font-size: 100%;
        text-align: center;
        margin-top: 20px;
        color: #fff;
        font-family: "Futura";
        font-style: italic;
        font-weight: lighter;
    }
    nav {
        display: none;
    }
    h2 {
        font-size: 200%;
        padding-bottom: 20px;
    }
    .intro_about {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        flex-wrap: wrap;
        font-size: 13px;
    }
    .intro_about_2 {
        flex-wrap: wrap-reverse;
    }
    .intro_about_left {
        width: 100%;
        margin-bottom: 20px;
        line-height: 2;
    }
    .intro_about_right {
        width: 100%;
        margin-bottom: 20px;
        line-height: 2;
    }
    .intro_about img {
        width: 100%;
        object-fit: contain;
    }
    .intro_about_right p {
        width: 90%;
        margin: 0 auto;
        font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3',"ＭＳ Ｐゴシック",sans-serif;
    }
    .intro_about_right a {
        display: block;
        margin: 30px auto;
        text-decoration: none;
        width: 170px;
        height: 40px;
        background-color: #3D5CDB;
        color: #ffffff;
        border-radius: 12px;
        text-align: center;
        line-height: 40px;
        font-size: 15px;
        font-weight: bold;
    }
    .course_info {
        width: 140px;
        height: 200px;
        background-color: #ffffff;
        margin-top: 20px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 1px 3px rgba(106, 137, 152, 0.2);
        padding: 10px;
    }
    .course_info a {
        display: block;
        margin: 15px auto;
        text-decoration: none;
        width: 100%;
        height: 40px;
        background-color: #ffbf00;
        color: #ffffff;
        border-radius: 10px;
        text-align: center;
        line-height: 40px;
        font-size: 12px;
        font-weight: bold;
    }
    .course_info h3 {
        font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3',"ＭＳ Ｐゴシック", sans-serif;
        font-size: 14px;
        margin: 0;
    }
    .course_info a:hover {
        box-shadow: 0 2px 15px 2px rgba(133, 140, 142, 0.4);
    }
    .course_img {
        width: 90px;
        height: 90px;
        margin: 10px auto 0;
    }
 
    #images {
        margin-bottom: 50px;
    }
    #access{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
    }
    .map {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 75%;
    }
    .map iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}